* {
    font-family: 'Courier New', Courier, monospace;
    /* outline: 1px solid red;
    outline-offset: -1px; */
}

h1 {
    text-align: center;
    color: dodgerblue;
}

#about {
    font-size: .8rem;
    height: 100vh;
}

body {
    margin: 40px;
}

#boxes {
    height: 500px;
    outline: 1px dodgerblue;
    outline-style: dotted;
}

#boxes div {
    padding: 50px;
}